<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
  <link rel="stylesheet" href="css/top.css" />
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="src/components/humberger.vue"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <title>vasy</title>
</head>
<body>
  <h1>Top画面</h1>
  <div id="app">
    <ul>
        <router-link tag="li" to="/route1">ルート1へ</router-link>
    </ul>
    <router-view></router-view>
  </div>

  <script src="../main.js"></script>

</body>
